*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;



}
body {
      height: 100vh;
      background-image: url(/images/blue.jpg.jpg);
      background-size: cover;
      background-position: no-repeat center;
      padding: 50px 5%;
      
    

}
.container{
      position: relative;
      height: 100%;
      background: rgba(255, 255, 255, .1);
      border: 2px solid rgba(255, 255, 255, .2);
      border-radius: 10px;
      backdrop-filter: blur(30px);
      transform: scale(0);
      animation: zoom-in 1s ease forwards;




}
@keyframes zoom-in{
      100%{
            transform: scale(1);
      }
}

header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 5%;
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;

}
.animated{
      transform: translateY(30px);
      opacity: 0;
      animation: slide-in 1s ease forwards;
      animation-delay: 1s;

}
@keyframes slide-in{
      100%{
           transform: translateY(0);
      opacity: 1; 
      }
}
.logo{
      font-size: 20px;
      color: rgb(29, 194, 37);
      font-weight: 500;
      text-decoration: none;



}
.navbar a {
       font-size: 18px;
       color: springgreen;
       text-decoration: none;
       font-weight: 500;
       margin-left: 30px;
       border-bottom: 2px solid transparent;
       transition: .5s;
       




}
.navbar a:hover,
.navbar a.active {
      border-color: white;
      
       


}
.home{
      display: flex;
      align-items: center;
      height: 100%;
      gap: 50px;
      padding: 50px 5% 0;
      color: whitesmoke;
      animation-delay: 1.5s;

}
.home-detail h2{
      font-size: 55px;
      line-height: 1;




}
.home-detail h3{
      font-size: 32px;


}
.home-detail p{
      margin: 10px 0 20px;

}
.home-detail .download-social{
      display: flex;
      align-items: center;
}
.btn{
      display: inline-block;
      padding: 10px 30px;
      background: white;
      border: 2px solid white;
      border-radius: 40px;
      box-shadow: 0 0 white;
      color: black;
      text-decoration: none;
      font-weight: 500;
      transition: .5s;

}
.btn:hover{
      background: transparent;
      box-shadow: none;
      color: white;
}
.home-detail .social-icons{
      margin-left: 20px;
}
.home-detail .social-icons a{

      display: inline-flex;
      padding: 8px;
      border: 2px solid white;
      border-radius: 50%;
      font-size: 20px;
      color: white;
      text-decoration: none;
      margin: 0 8px;
      transition: .5s;
      


}
.home-detail .social-icons a:hover{
      background: white;
      box-shadow: 0 0 10px white;
      color: black;
}
.home-img .img-box{
      position: relative;
      width: 20vw;
      height: 30vw;
      border: 2px solid white;
      border-radius: 50%;
      box-shadow: 0 0 20px white;
      overflow: hidden;
}
.home-img .img-box img{
      position: absolute;
      top: 30px;
      display: block;
      width: 100%;
      object-fit: cover;
}
.about{
      display: flex;
      align-items: center;
      height: 100%;
      gap: 50px;
      padding: 50px 5% 0;
      color: white;
      animation-delay: 1.5s;
}
.about-detail h1{
      font-size: 55px;
      line-height: 1;
}
.home-detail h2{
      font-size: 32px;
}
.home-detail p{
      margin: 10px 0 20px;
}
/* ---------about--------- */




#about-Me{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5em;
      
}
/* .about img{
      width: 100px;
      max-width: 100%;
      border-radius: 1em;
      float: none;
      padding-top: 0;
      align-self: flex-start;
      height: auto;
      
      
}
.about-box{
      display: flex;
      flex-direction: column;
      text-align: right;
      gap: 2em; */
      
      
/* } */
.about-img .img-box{
      position: relative;
      width: 20vw;
      height: 30vw;
      border: 2px solid white;
      border-radius: 50%;
      box-shadow: 0 0 20px white;
      overflow: hidden;
      padding-top: 20px;
}
.about-img .img-box img{
      position: absolute;
      top: 30px;
      display: block;
      width: 100%;
      object-fit: cover;
}
.about-box h1{
      font-size: 2em;
      color: springgreen;
      float: right;
      width: 70%;
      padding-top: 30px;
      text-align: center;

}.about-box p{
      color: white;
      opacity: 0.8;
      float: right;
      font-size: 1.2em;
      width: 50%;
      text-align: left;
      padding-top: 50px;
      

}
.container{
      position: relative;
      height: 100%;
      background: rgba(255, 255, 255, .1);
      border: 2px solid rgba(255, 255, 255, .2);
      border-radius: 10px;
      backdrop-filter: blur(30px);
      transform: scale(0);
      animation: zoom-in 1s ease forwards;
}

#skills{
      color: springgreen;
      display: flex;
      text-align: center;
      gap: 10em;
      padding-top: 10px;
}
.skills ol{
      font-size: 1.1em;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      color: white;
      opacity: 0.8;
      align-items: center;
      padding-top: 5px;
}
.skills ol li span{
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-size: 1.3em;
      transition: 0.3s ease-in-out;
      text-align: center;

}
.skills ol li span:hover{
      transform: translateX(10px);
      
}
.skills ol li i{
      font-size: 1.2em;

}
.about-box h2{
      font-size: 2.5em;
}
.skills ul{
      font-size: 0.8em;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      color: white;
      opacity: 0.8;
      align-items: right;
      margin-bottom: 20px;

}.skills ul{
      color: white;
      opacity: 0.8;
      float: left;
      font-size: 0.8em;
      text-align: left;
      width: 70%;


}
#projects{
      padding: 30px 3% 0;
      color: springgreen;
      animation-delay: 1.5s;
      text-align: center;

}
.projects-container{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      gap: 1em;
}
.box{
      border: 3px solid rgb(49, 49, 49);
      border-radius: 0.5em;
      display: flex;
      width: 300px;
      height: 300px;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      object-fit: cover;
      padding: 1.5em;
      gap: 0.9em;
      color: white;
      cursor: pointer;
      transition: o.3s ease-in-out;


}
.box:hover{
      border: 1px solid rgb(100, 100, 100);
}
.box p{
      opacity: 0.8;
}
.box h1{
      font-size: 1.5em;
      color: white;
      text-align: center;
}
.box h2{
      font-size: 0.9em;
}
#contact{
      font-size: normal;
      color: springgreen;
      text-align: baseline;
      padding-top: 5px;
      

}

.contact-container{
      display: flex;
      align-items: left;
      justify-content: left;
      height: 300px;
      width: 950px;
      gap: 3em;
      padding-top: 15px;
      padding: 1.3em;
}
form .input-box{
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 1em;
      padding: 1em;
      width: 100%;
      height: 500px;
      
      
}
form{
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      gap: 1em;
      width: 500px;
      
}
.inf-box span{
      font-size: 1em;
}

/* form input{
      font-size: 1.3em;
      padding: 1em;
      border-radius: 0.5em;
      border: none;
      outline: none;
      width: 250px;
      text-align: left;
      align-items: left;

} */
form input:focus{
      background: rgb(229, 229, 229);
}


form input{
      font-size: 1.3em;
      padding: 1em;
      border-radius: 0.5em;
      border: none;
      outline: none;
      width: 250px;
      height: 50px;
      text-align: left;
      align-items: left;

}

footer{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10em;
      bottom: 0;
      width: 100%;
      padding: 5em 15%;


}
.col-left{
      display: flex;
      flex-direction: column;
      gap: 2em;
      align-items: left;
      text-align: left;
      width: 400px;
      color: white;

}
.col-box{
      display: flex;
      align-items: baseline;
      gap: 1em;

}
.col-box i{
      font-size: 2em;
      text-align: left;
}
.col-box span{
      font-size: 1.2em;
      text-align: left;

}
.col-right{
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 200px;
      text-align: left;
      color: white;
}
.col-right span{
      font-size: 1.3em;
}
html{
      scroll-behavior: smooth;
}





